<form id="create-event-form" class="table-index" action="http://formspree.io/events@protocultural.org" method="POST">
    <h3>Drop us a line</h3>
    <textarea id="form-desc" name="description" placeholder="A few words…"></textarea>
    <input placeholder="About what?" id="form-subject" name="subject" type="text" required>
    <input class="dark-theme" id="form-email" name="_replyto" placeholder="Your email" type="text" required>

    <input type="hidden" name="_next" value="/thanks" />
    <input type="hidden" id="form-subject" name="_subject" value="Contact Web Tangible !" />
    <input type="text" name="_gotcha" style="display:none" />
    <input class="button button" type="submit" value="Send this!">
  </form>
