<footer id="footer" class="row">

  <div class="ten columns">
    <h4>{{ site.title }}</h4>
    <p>{{ site.description }}</p>
  </div>

  <div class="two columns">
    <ul class="contact-list">
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}
    </ul>
  </div>


</footer>
