.home {
  #jumbo {
    text-align: center;
    p {
      font-size: 1.4em;
      width: 80%;
      margin: 2em auto;
    }
  }

  form {
    width: 80%;
    margin: 2em auto;
  }

  #tech-list {
    text-align: center;
    ul {
      list-style: none;
      li.list-header {
        font-weight: bolder;
        font-size: 1.2em;
      }
    }
  }


}
