{% include head.html %}

{% include home/gallery.html %}

<hr>

<div class="container home">
  <div id="jumbo">
    <h1>{{ site.title }}</h1>
    <p>
      {{ site.description }}
    </p>
    <p>
      <a id="form-collapse-button" href="#" class="button button">Contact Us</a>
    </p>
  </div>
  {% include contact_form.html %}
  <hr>
</div>

<div class="container home">
  {% include home/list_tech.html %}
</div>

  {% include footer.html %}
<script src="{{ "/js/d3.v3.js" | prepend: site.baseurl }}" charset="utf-8"></script>
<script>

// show / hide form
d3.select("#webtangible-contact-form").style("display", "none")

d3.select("#form-collapse-button")
  .on("click", function(){
    d3.event.preventDefault();
    d3.select("#webtangible-contact-form")
      .transition()
      .duration(2500)
      .style("display", function(){
        return d3.select(this).style("display") == "none" ? "block" : "none";
      });
  })

</script>
